{% load static %}
<!DOCTYPE html>
<html lang="vi" style="height: 100%">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>ADMIN PANEL</title>
    <link rel="icon" href="https://server.thienduongtop.online/favicon.ico" type="image/ico" />
    <meta name="author" content="yinqi" />

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/layui/2.9.14/css/layui.css" rel="stylesheet" />
    <style type="text/css" media="all">
      .layui-form-label {
        width: 100px;
      }
      .layui-layout {
        margin-top: 10px;
      }
      .sidebar-header {
        height: 70px;
      }
      .sidebar-header a {
        font-size: 30px;
        color: #fff;
        line-height: 68px;
      }
    </style>
    <style>
      .layui-btn.layui-btn-sm.layui-btn-danger {
        display: none;
      }
      @media (max-width: 600px) {
        .card-body:has(.layui-form-item) {
          display: none;
        }
      }
    </style>
    <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement(
          {
            pageLanguage: "vi",
            includedLanguages: "en,zh-CN,vi",
            layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
            autoDisplay: false,
          },
          "google_translate_element"
        );
      }
    </script>
    <script type="text/javascript" src="{% static 'js/element.js' %}"></script>
    <link type="text/css" rel="stylesheet" charset="UTF-8" href="../static/m=el_main_css" />
    <script type="text/javascript" charset="UTF-8" src="../static/m=el_main"></script>
    <style type="text/css">
      /* Chart.js */
      @-webkit-keyframes chartjs-render-animation {
        from {
          opacity: 0.99;
        }
        to {
          opacity: 1;
        }
      }
      @keyframes chartjs-render-animation {
        from {
          opacity: 0.99;
        }
        to {
          opacity: 1;
        }
      }
      .chartjs-render-monitor {
        -webkit-animation: chartjs-render-animation 0.001s;
        animation: chartjs-render-animation 0.001s;
      }
    </style>
  </head>

  <body data-logobg="color_8" data-sidebarbg="color_8" style="position: relative; min-height: 100%; top: 0px">
    <div class="layout-web">
      <div class="layout-container">
        {% include "includes/sidebar.html" %}
        <!--End 左侧导航-->
        <!--Header信息-->
        {% include "includes/header.html" %}
        <!--End Header信息-->

        <!--页面主要内容-->
        <main class="layout-content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-header"><h4>Ghi Chú Đặt Cược</h4></div>
                  <div class="card-body">
                    <form class="layui-form" action="https://server.thienduongtop.online/admin/buylottery/index">
                      <div class="layui-form-item">
                        <label class="layui-form-label">Loại hình</label>
                        <div class="layui-input-inline">
                          <select name="cid">
                            <option value="">Vui lòng chọn</option>
                            <option value="10">Xác thực 1</option>
                            <option value="11">Xác thực 2</option>
                            <option value="12">Xác thực 3</option>
                            <option value="13">Xác thực 4</option>
                          </select>
                          <div class="layui-unselect layui-form-select">
                            <div class="layui-select-title"><input type="text" placeholder="Vui lòng chọn" value="" readonly="" class="layui-input layui-unselect" /><i class="layui-edge"></i></div>
                            <dl class="layui-anim layui-anim-upbit">
                              <dd lay-value="" class="layui-select-tips">Vui lòng chọn</dd>
                              <dd lay-value="10" class="">Xác thực 1</dd>
                              <dd lay-value="11" class="">Xác thực 2</dd>
                              <dd lay-value="12" class="">Xác thực 3</dd>
                              <dd lay-value="13" class="">Xác thực 4</dd>
                            </dl>
                          </div>
                        </div>
                        <label class="layui-form-label">Tên đăng nhập người chơi</label>
                        <div class="layui-input-inline">
                          <input type="text" name="username" placeholder="Vui lòng nhập tên đăng nhập người chơi" autocomplete="off" class="layui-input" />
                        </div>
                        <div class="layui-inline" id="time" lay-key="1" layui-laydate-id="time">
                          <label class="layui-form-label">Ngày bắt đầu</label>
                          <div class="layui-input-inline">
                            <input name="start_time" type="text" autocomplete="off" id="startDate" class="layui-input" placeholder="Ngày bắt đầu" />
                          </div>
                          <label class="layui-form-label">Ngày kết thúc</label>
                          <div class="layui-input-inline">
                            <input name="end_time" type="text" autocomplete="off" id="endDate" class="layui-input" placeholder="Ngày kết thúc" />
                          </div>
                        </div>
                      </div>
                      <div class="layui-form-item">
                        <div class="layui-inline">
                          <label class="layui-form-label"></label>
                          <div class="layui-input-inline">
                            <input class="layui-btn layui-btn-search" type="button" lay-submit="" lay-filter="submitSearch" value="Tìm kiếm" />
                            <button type="reset" class="layui-btn layui-btn-primary layui-border-orange">Reset</button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>

              <div class="col-lg-12">
                <div class="card">
                  <div class="card-body">
                    <table style="height: 125px" width="640" cellspacing="0" cellpadding="2" class="layui-hide" id="table" lay-filter="table"></table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>

    <!--<script type="text/javascript" src="/static/admin/index/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/admin/index/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/admin/index/js/perfect-scrollbar.min.js"></script>-->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/perfect-scrollbar.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/layui/2.8.4/layui.min.js"></script>-->
    <script type="text/javascript" src="{% static 'js/layui.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/Chart.js' %}"></script>

    <script type="text/html" id="toolbar">
      <div class="layui-btn-container">
        <!--<button class="layui-btn layui-btn-sm" lay-event="getCheckData">Lấy dữ liệu hàng đã chọn</button>
        <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">Lấy số lượng hàng đã chọn</button>
        <button class="layui-btn layui-btn-sm" lay-event="isAll">Xác nhận tất cả đã chọn</button>-->
        <button type="button" class="layui-btn layui-btn-sm" lay-event="refresh"><i class="layui-icon">&#xe669;</i>Làm mới</button>
      </div>
    </script>
    <script>
      layui.use(["table", "element", "form", "layer", "laydate"], function () {
        var $ = layui.$,
          table = layui.table,
          form = layui.form,
          layer = layui.layer,
          laydate = layui.laydate;
        laydate.render({
          elem: "#time",
          //设置Ngày bắt đầu、日期日期的 input 选择器
          //数组格式为 2.6.6 开始新增，之前版本直接配置 true 或任意分割字符即可
          range: ["#startDate", "#endDate"],
        });
        function table_reload(field) {
          layer.msg("Vui lòng chờ！", { icon: 16, shade: 0.01, time: 2000000 });
          table.reload("table", {
            url: "tickethis",
            where: {
              // cid: field.cid,
              username: field.username,
              cid: field.cid,
              key: field.key,
              start_time: field.start_time,
              end_time: field.end_time,
            },
          });

          layer.close(layer.index);
        }
        form.on("submit(submitSearch)", function (data) {
          table_reload(data.field);
        });
        form.on("switch(state)", function (data) {
          var state = data.elem.checked ? 1 : 0;
          var id = data.elem.attributes["dataid"].nodeValue;
          var index = layer.load(0, { shade: false });
          $.ajax({
            type: "post",
            url: "/admin/buylottery/doeditstate",
            data: { id: id, state: state },
            dataType: "json",
            success: function (data) {
              if (data.code === 200) {
                layer.msg(
                  data.msg,
                  {
                    icon: 1,
                    time: 1000, //2 giây đóng (nếu không cấu hình, mặc định là 3 giây)
                  },
                  function () {
                    layer.closeAll();
                    table.reload("table");
                  }
                );
              } else {
                layer.msg(
                  data.msg,
                  {
                    icon: 1,
                    time: 1000, //2 giây đóng (nếu không cấu hình, mặc định là 3 giây)
                  },
                  function () {
                    layer.closeAll();
                    table.reload("table");
                  }
                );
              }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
              layer.closeAll();
              if (textStatus == "timeout") {
                layer.msg(
                  "Yêu cầu đã hết thời gian chờ！",
                  {
                    icon: 2,
                    time: 1500, //2 giây đóng (nếu không cấu hình, mặc định là 3 giây)
                  },
                  function () {}
                );
              } else {
                layer.msg(
                  "Lỗi máy chủ！",
                  {
                    icon: 2,
                    time: 1500, //2 giây đóng (nếu không cấu hình, mặc định là 3 giây)
                  },
                  function () {}
                );
              }
            },
          });
        });
        table.render({
          elem: "#table",
          url: "/tickethis",
          toolbar: "#toolbar", // 开启Header工具栏，并为其绑定左侧模板
          defaultToolbar: ["filter", "exports", "print"],
          title: "Danh sách cá cược",
          totalRow: true,
          cols: [
            [
              //{type: 'checkbox', fixed: 'left',totalRowText: 'Tổng cộng:'},
              { field: "id", title: "ID", sort: true, width: 50 },
              { field: "mid", title: "Người dùng", sort: true },
              { field: "lid", title: "Loại hình", sort: true },
              { field: "expect", title: "Kỳ số", sort: true },
              {
                field: "type",
                title: "Chọn",
                sort: true,
                edit: "text",
                templet: function (d) {
                  console.log(d);
                  if (d.type == "1") {
                    return "Xinh Đẹp";
                  } else if (d.type == "2") {
                    return "Đáng Yêu";
                  } else if (d.type == "3") {
                    return "Quyến Rủ";
                  }
                  if (d.type == "4") {
                    return "Gợi Cảm";
                  } else {
                    return d.type;
                  }
                },
              },
              {
                field: "money",
                title: "Số tiền",
                sort: true,
                totalRow: true,
                edit: "text",
              },
              {
                field: "peilv",
                title: "Tỷ lệ thưởng",
                sort: true,
                edit: "text",
              },
              {
                field: "profit",
                title: "Kết quả",
                totalRow: true,
                sort: true,
                templet: function (d) {
                  if (d.is_win == 0) {
                    return '<div style="color:red">Chưa giải quyết</div>';
                  } else if (d.is_win == 1) {
                    return '<div style="color:green">' + "+" + d.profit + "</div>";
                  } else if (d.is_win == 2) {
                    return '<div style="color:red">' + "-" + d.profit + "</div>";
                  }
                },
              },
              {
                field: "before_betting",
                title: "Số tiền trước cược",
                sort: true,
                edit: "text",
              },
              {
                field: "after_betting",
                title: "Số tiền sau cược",
                sort: true,
                edit: "text",
              },
              // {field:'before_kj', title:'Số tiền trước kết quả', sort: true, edit: 'text'},
              // {field:'after_kj', title:'Số tiền sau kết quả', sort: true, edit: 'text'},
              {
                field: "status",
                title: "Trạng thái",
                sort: true,
                templet: function (d) {
                  if (d.status === 1) {
                    return '<div style="color:green">Đã giải quyết</div>';
                  } else {
                    return '<div style="color:red">Chưa giải quyết</div>';
                  }
                },
              },
              { field: "create_time", title: "Thời gian đặt", sort: true },
              {
                field: "update_time",
                title: "Thời gian xử lý",
                sort: true,
                templet: function (d) {
                  if (d.status === 1) {
                    return '<div style="color:green">' + d.update_time + "</div>";
                  } else {
                    return '<div style="color:red">Chưa giải quyết</div>';
                  }
                },
              },
            ],
          ],

          done: function (res, curr, count) {
            //console.log(res.data);
            let money = 0.0;
            for (var i = 0; i < res.data.length; i++) {
              if (res.data[i].is_win === 2) {
                money -= parseFloat(res.data[i].profit);
              } else if (res.data[i].is_win === 1) {
                money += parseFloat(res.data[i].profit);
              }
            }
            var profit = this.elem.next().find('.layui-table-total td[data-field="profit"] .layui-table-cell');
            if (money <= 0) {
              profit.css("color", "red");
            } else {
              profit.css("color", "green");
            }
            profit.text(money.toFixed(2));
          },
          page: true,
        });

        table.on("edit(table)", function (obj) {
          var value = obj.value,
            data = obj.data,
            field = obj.field;
          layer.confirm("Xác nhận sửa đổi dữ liệu cá cược？", function (index) {
            $.post("/admin/buylottery/editbuylottery" + "?id=" + data.id, data, function (res) {
              if (res.code === 200) {
                layer.msg(
                  res.msg,
                  {
                    icon: 1,
                    time: 2000, //2 giây đóng (nếu không cấu hình, mặc định là 3 giây)
                  },
                  function () {
                    layer.closeAll();
                    table.reload("table");
                  }
                );
              } else {
                layer.msg(
                  res.msg,
                  {
                    icon: 2,
                    time: 2000, //2 giây đóng (nếu không cấu hình, mặc định là 3 giây)
                  },
                  function () {
                    layer.closeAll();
                    table.reload("table");
                  }
                );
              }
            });
          });
        });
        //头工具栏事件
        table.on("toolbar(table)", function (obj) {
          var checkStatus = table.checkStatus(obj.config.id);
          switch (obj.event) {
            case "getCheckData":
              var data = checkStatus.data;
              layer.alert(JSON.stringify(data));
              break;
            case "getCheckLength":
              var data = checkStatus.data;
              layer.msg("Đã chọn：" + data.length + " ô");
              break;
            case "isAll":
              layer.msg(checkStatus.isAll ? "Chọn tất cả" : "Không chọn tất cả");
              break;
            case "refresh":
              table.reload("table");
              break;
          }
        });

        //监听行工具事件
        table.on("tool(table)", function (obj) {
          var data = obj.data;
          if (obj.event === "del") {
            layer.confirm("Xác nhận xóa dữ liệu？", function (index) {
              $.ajax({
                type: "post",
                url: "/admin/buylottery/dodel",
                data: { id: data.id },
                dataType: "json",
                success: function (data) {
                  if (data.code === 200) {
                    layer.msg(
                      data.msg,
                      {
                        icon: 1,
                        time: 1000, //2 giây đóng (nếu không cấu hình, mặc định là 3 giây)
                      },
                      function () {
                        obj.del();
                        layer.close(index);
                        table.reload("table");
                      }
                    );
                  } else {
                    layer.msg(data.msg);
                  }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                  layer.closeAll();
                  if (textStatus == "timeout") {
                    layer.msg(
                      "Yêu cầu đã hết thời gian chờ！",
                      {
                        icon: 2,
                        time: 1500, //2 giây đóng (nếu không cấu hình, mặc định là 3 giây)
                      },
                      function () {}
                    );
                  } else {
                    layer.msg(
                      "Lỗi máy chủ！",
                      {
                        icon: 2,
                        time: 1500, //2 giây đóng (nếu không cấu hình, mặc định là 3 giây)
                      },
                      function () {}
                    );
                  }
                },
              });
            });
          }
        });
      });
    </script>
  </body>
</html>
