{% load static %}
<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>ADMIN PANEL</title>
    <link rel="icon" href="/favicon.ico" type="image/ico" />
    <meta name="author" content="yinqi" />

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/layui/2.9.14/css/layui.css" rel="stylesheet" />
    <style type="text/css" media="all">
      .layui-form-label {
        width: 100px;
      }
      .layui-layout {
        margin-top: 10px;
      }
      .sidebar-header {
        height: 70px;
      }
      .sidebar-header a {
        font-size: 30px;
        color: #fff;
        line-height: 68px;
      }
    </style>
    <style>
      .layui-btn.layui-btn-sm.layui-btn-danger {
        display: none;
      }
      @media (max-width: 600px) {
        .card-body:has(.layui-form-item) {
          display: none;
        }
      }
    </style>
  </head>

  <body data-logobg="color_8" data-sidebarbg="color_8">
    <div class="layout-web">
      <div class="layout-container">
        <main class="layui-layout">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <h4>Cộng tiền</h4>
                  </div>
                  <div class="card-body">
                    <form class="layui-form" id="loginfrom">
                      {% csrf_token %}
                      <input type="hidden" id="id" name="id" value="1070" />
                      <div class="form-group">
                        <label> Số tiền </label>
                        {{ form.money }}
                      </div>
                      <div class="form-group">
                        <label> Loại hình </label>
                        <div>
                          <input type="radio" name="type" value="1" title="Nạp tiền" />
                          <input type="radio" name="type" value="2" title="Tiền thưởng" checked />
                        </div>
                        <div>{{ form.type }}</div>
                      </div>
                      <div class="form-group">
                        <label> Nội dung </label>
                        {{ form.desc }}
                      </div>
                      <div class="form-group">
                        <button class="layui-btn" type="button" lay-submit lay-filter="save">Thêm</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/perfect-scrollbar.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/layui.js' %}"></script>
  </body>
</html>
<script>
  layui.use(["form"], function () {
    var layer = layui.layer,
      form = layui.form,
      layer = layui.layer;

    form.on("submit(save)", function (data) {
      var loading = layer.load(0, { shade: false });
      $.ajax({
        type: "post",
        url: "/member/doaddmoney",
        data: $("#loginfrom").serialize(),
        dataType: "json",
        success: function (data) {
          if (data.code === 200) {
            layer.msg(
              data.msg,
              {
                icon: 1,
                time: 1500, //2 giây đóng (nếu không cấu hình, mặc định là 3 giây)
              },
              function () {
                layer.closeAll();
                window.parent.location.reload();
                var index = parent.layer.getFrameIndex(window.name);
                parent.layer.close(index);
              }
            );
          } else {
            layer.closeAll();
            layer.msg(data.msg);
            return false;
          }
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
          layer.closeAll();
          if (textStatus == "timeout") {
            layer.msg(
              "Yêu cầu đã hết thời gian chờ！",
              {
                icon: 2,
                time: 1500, //2 giây đóng (nếu không cấu hình, mặc định là 3 giây)
              },
              function () {
                return false;
              }
            );
          } else {
            layer.msg(
              "Lỗi máy chủ！",
              {
                icon: 2,
                time: 1500, //2 giây đóng (nếu không cấu hình, mặc định là 3 giây)
              },
              function () {
                return false;
              }
            );
          }
        },
      });
    });
  });
</script>
